.userForm {
  padding-left: 20px;
}
.userArea {
  height: 580px;
  overflow-y: scroll;
}
.searchResults {
  width: 500px;
}
.topTwentyMargin {
  margin-top: 20px;
}
.topTwentyFourMargin {
  margin-top: 24px;
}
.topFourtyMargin {
  margin-top: 40px;
}
.topTenMargin {
  margin-top: 10px;
}
.redComment {
  color: red;
}
.setInputWidth {
  width: 500px;
}
.setInputWidthOne {
  width: 425px;
}

/*input[type=checkbox]
{

  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);

}*/

span.clear {
  position: relative;
}
span.clear span {
  position: absolute;
  display: block;
  top: -3px;
  right: 12px;
  width: 5px;
  height: 5px;
  cursor: pointer;
}
span.clear input {
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.btnHigh {
  background-color: red;
  display: inline-block;
  width: 60px;
  height: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
}
.buttonBrowse {
  background-color: #ABA7A7;
  display: inline-block;
  width: 60px;
  height: 100%;
  color: white;
  text-align: center;
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}
.actionArea {
  border-top: 3px solid #9E9B9B;
  margin-top: 5px;
}
.actionAreaContainer {
  float: right;
  padding: 20px;
}
.blue {
  background-color: blue;
}
.saveInactive {
  background: none repeat scroll 0 0 burlyWood;
  cursor: default !important;
}
.eachUser {
  border-bottom: 1px solid #BFBDBD;
  border-right: 1px solid #BFBDBD;
  border-left: 1px solid #BFBDBD;
  position: relative;
}
.eachUser:hover {
  background-color: #E2E0E0;
  ;
}
.userIconArea {
  display: inline-block;
  position: relative;
  ;
}
.userInfo {
  display: inline-block;
}
.userCompany {
  display: inline-block;
  */ width: 100px;
  position: absolute;
  top: 50%;
  right: 10px;
  text-align: right;
}
.userIcon {
  width: 40px;
  height: 40px;
  background-color: #A9A6A6;
  border-radius: 20px;
  margin: 5px;
}
.userStatus {
  height: 12px;
  width: 12px;
  position: absolute;
  background-color: green;
  border-radius: 6px;
  right: 2px;
  top: 30px;
}
